$bg: #fff;

$color: #055700;
$color-light: rgba(0, 110, 4, 0.51);
$color-lightness: rgba(0, 87, 14, 0.3);

$text: #111;
$muted: #999;

$secondary: #09ed00;

$control: #fff;

.skin-green {
  #main-layout {
    > * {
      background-color:rgba(0,0,0,0.4);
    }
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Hme4C4_7iosf3emf/videoblocks-abstract-psychedelic-background-3d-render-computer-graphics_s-mqowswvg_thumbnail-full01.png');

    .list {
      &-title {
        color: $control;
        font-weight: bold;
      }

      &-content {
        background-color: $bg;
        margin: 0 15px;
      }
    }

    #main-layout--bottom {
      background-color: $bg;
    }

    #play-line {
      &-backward {
        background-color: $color;
        border: 2px solid $secondary;
        color: $control;
      }

      &-play, &-pause {
        background-color: $color;
        color: $control;
      }

      &-forward {
        background-color: $color;
        border: 2px solid $secondary;
        color: $control;
      }
    }

    #timeline {
      background: $color-lightness;

      &--loaded {
        background-color: $color-light;
      }

      &--elapsed {
        background-color: $color;
      }
    }

    .list-item {
      border-bottom: 1px solid $color-light;

      &--pre {
        color: $color;
      }

      &--title {
        color: $color;
      }

      &--info {
        color: $muted;
      }

      &--sub-info {
        color: $text;
      }

      &--controls {
        .icon.filled {
          fill: $text !important;

          &:hover {
            fill: $color !important;
          }
        }
      }
    }
  }
}